html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1')

    link(rel='apple-touch-icon',sizes='180x180',href='/apple-touch-icon.png')
    link(rel='icon',type='image/png',sizes='32x32',href='/favicon-32x32.png')
    link(rel='icon',type='image/png',sizes='16x16',href='/favicon-16x16.png')
    link(rel='manifest',href='/manifest.json')
    link(rel='mask-icon',href='/safari-pinned-tab.svg',color='#5bbad5')
    meta(name='theme-color',content='#ffffff')

    title= title
    link(rel='stylesheet',href='style.css')
  body
    div(class='container')
        nav(class='navbar navbar-default')
            div(class='container-fluid')
                h1(align='center')= title
                div(class='btn-group btn-group-lg btn-group-justified')
                    each opt in options
                        a(class=(opt===day) ? 'btn btn-default btn-primary' : 'btn btn-default', href='/' + opt)= opt


        each place, index in places

            if index%3===0
                div(class='clearfix')
            div(class='col-md-4')
                div(class='panel panel-default')
                    div(class='panel-heading')
                        a(href=place.url, target='_blank')= place.name
                    div(class='panel-body')
                        ul(style='list-style-type:none')
                          each item in place.menu
                            li= item
                          else
                            li Listaa ei saatu ladattua.
                                br
                                br
                                a(href=place.url, target='_blank')= 'Katso ravintolan sivuilta >>'
        else
            div No places available
